*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f5f5f5;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Estilos de la parte de navegacion */
.header {
    background-color: #ffffff;
    padding: 10px 20px 0px; /* Adjust padding if necessary */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .nav a {
    color: #666;
}
  
.navhead{
    font-size: 18px;
}
  
.nav a:hover {
    color: #407EC9;
}

.custom-btn {
    border-color: #407EC9;
    background-color: #ffffff;
    color: #407EC9; 
}

.custom-btn:hover {
    background-color: #407EC9;
    color: white;
}

/* Ajusta los párrafos para mayor legibilidad */
p {
    font-size: 20px; /* Incrementa el tamaño de la letra en los párrafos */
    line-height: 1.8; /* Mejora el espaciado entre líneas */
    text-align: justify; /* Mantiene el texto justificado */
}

/* Ajusta el contenedor principal */
.container {
    padding-left: 15px; /* Reduce el padding lateral izquierdo */
    padding-right: 15px; /* Reduce el padding lateral derecho */
}

.img-square {
    width: 90%; /* Ocupa todo el ancho del contenedor */
    max-width: 100%; /* Tamaño máximo para las imágenes */
    height: 400px; /* Altura fija para mantenerlas cuadradas */
    object-fit: cover; /* Asegura que la imagen se adapte sin deformarse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra para estética */
    margin: auto; /* Centra la imagen */
}